*{
    transition: all 0.3s;
    font-family: 'Rubik Mono One';
    -webkit-tap-highlight-color: transparent;
}

html{
    background-color: #F5EBDB;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;

    .body{
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../images/background.png");
        background-size: cover;

        .header{
            width: 100%;
            height: 100px;
            display: flex;
            align-items:center;
            justify-content: right;   


            &__profile{
                background-image: url("../images/profile.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 15px;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                cursor: pointer;
                @media (max-width: 768px){
                    width: 50px;
                    height: 50px;
                }


                &:hover{
                    scale: 1.05;
                }

                &:active{
                    scale: 0.95;
                }
            }
        }
        .main{
            height: 100%;
            max-width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            

            &__counter{
                height: 50px;
                background-color: #B29E7A;
                color: #F5EBDB;
                font-size: 40px;
                border-radius: 30px;
                padding: 15px;
                text-align: center;

                @media (max-width: 768px){
                    height: 40px;
                    font-size: 30px;
                }
            }

            &__clicker-cent{
                background-image: url("../images/clicker-cent.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 420px;
                height: 400px;
                border-radius: 50%;
                cursor: pointer;

                @media (max-width: 768px){
                    width: 300px;
                    height: 285px;
                }
            }

            &__shop{
                width: 520px;
                height: 90px;
                background-color: #B29E7A;
                color: #F5EBDB;
                font-size: 40px;
                border: none;
                border-radius: 30px;
                cursor: pointer;

                @media (max-width: 768px){
                    width: 300px;
                    height: 70px;
                    font-size: 30px;
                }

                &:hover{
                    scale: 1.05;
                }

                &:active{
                    scale: 0.95;
                }
            }
        }
    }
}