*{
    transition: all 0.3s;
    font-family: 'Rubik Mono One';
    -webkit-tap-highlight-color: transparent;
}

html{
    background-color: #F5EBDB;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;

    .body{
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../images/background.png");
        background-size: cover;

        .registr{

            &__section{
                width: 375px;
                height: 460px;
                padding: 30px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 30px;
                background-color: #B29E7A;

                @media (max-width: 768px) {
                    width: 275px;
                    height: 360px;
                }
            }

            &__text{
                font-size: 32px;
                color: #F5EBDB;

                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }

            &__enter-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;


                &__nickname{
                    width: 315px;
                    height: 55px;
                    border-radius: 15px;
                    background-color: #F5EBDB;
                    padding: 0 15px;
                    border: none;
                    outline: none;

                    @media (max-width: 768px) {
                        width: 210px;
                        height: 40px;   
                    }

                    &::placeholder{
                        font-size: 16px;
                        color:#B29E7A;

                        @media (max-width: 768px) {
                            font-size: 12px;  
                        }
                    }

                    &:focus{
                        background-color: #E9CDA1;
                    }
                }

                &__id{
                    @extend .registr__enter-section__nickname;
                }

                &__tg{
                    @extend .registr__enter-section__nickname;
                }
            }

            &__errors{
                margin-left: 20px;
                margin-right: auto;
                color: #b9361f;
            }

            &__entrance{
                width: 345px;
                height: 55px;
                border: none;
                border-radius: 15px;
                background-color: #F5EBDB;
                font-size: 20px;
                color: #B29E7A;
                margin-top: auto;
                cursor: pointer;

                @media (max-width: 768px) {
                    width: 240px;
                    height: 40px;   
                    font-size: 16px;
                }

                &:hover{
                    transform: scale(1.02);
                }

                &:active{
                    transform: scale(0.95);
                }
            }
        }
    }
}